<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}" />
    <title>Login</title>
</head>
<body>
    <header>
        <h1>Aplicació web amb base de dades (M02-UF3-AC4)</h1>
    </header>
    <main>
        {% if userData %}
        <p class="newuser_ko">REGISTRO INCORRECTO</p>
        {% else %}
        <p class="newuser_ok">REGISTRO CORRECTO</p>
        {% endif %}
    </main>
    <footer>
        <p>ETPX 2022-2023</p>
    </footer>
</body>
</html>